<!--<h2>Products</h2>

<ul>
<li *ngFor="let index of scales">
  {{ index.name }}
  <p *ngIf="index.description">
  Description: {{ index.description }}
</p>
</li>
</ul>-->





<!--
<div class = "container" style="margin-bottom: 1em;">
  <div class = "row">
  <div class = "col-md-6 col-md-offset-3"  style="background-color: salmon; color: white; padding-top: 2em; padding-bottom: 2em; border-radius: 1em;">
  <form class="form-horizontal">
  <p>Select grade for first unit</p>

  <select class="form-control" [(ngModel)] = "firstGrade" [ngModelOptions]="{standalone: true}" >
  <option>HD</option>
  <option>D</option>
  <option>C</option>
  <option>P</option>
  <option>N</option>
  </select>
  <p style = "margin-top: 1em;">Select number of credits</p>
  <select class="form-control" [(ngModel)] = "firstCredit" [ngModelOptions]="{standalone: true}">
  <option>4</option>
  <option>6</option>
  <option>12</option>
  </select>

  <p>Select grade for second unit</p>
  <select class="form-control" [(ngModel)] = "secondGrade" [ngModelOptions]="{standalone: true}" >
    <option>HD</option>
    <option>D</option>
    <option>C</option>
    <option>P</option>
    <option>N</option>
    </select>
    <p style = "margin-top: 1em;">Select number of credits</p>
    <select class="form-control" [(ngModel)] = "secondCredit" [ngModelOptions]="{standalone: true}">
    <option>4</option>
    <option>6</option>
    <option>12</option>
    </select>

  </form>
  </div>
  </div>
  </div>





  <div class = container style = "margin-bottom: 1em;">
    <div class = row>
    <div class = "col-md-6 col-md-offset-3">
    <p class = "lead">Your GPA is: {{ calculateTotalGPAWeighted() }}</p>

    </div>
    </div>
    </div>
  

  -->
  
  <div id="title"> 
      <h2>GPA Calculator</h2> 
      <input id="description" value="This is GPA Calculator developed for FBLA competition!" readonly>
      
    </div> 
    
    
    <div id="currentGpa">
      <h2>Current GPA(Optional)</h2>
      <button>
        Show
        </button>
    <table>
      <thead>
        <tr>
          <th scope="col" >Cumulative GPA</th>
          <th scope="col">Credits</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><input id="cumulativeGpa" placeholder="Enter cumulative GPA"></td>
          <td><input id="credit" placeholder="Enter credits"></td>
        </tr>
      </tbody>
    </table>  
    </div>
    
    <div id="resultTitle">
      <h2>Your Calculated GPA is: </h2>
    </div>
    
  
    
    <div id="currentGpa">
    <table>
      <thead>
        <tr>
          <th scope="col" >Semester</th>
          <th scope="col">Weighted GPA</th>
          <th scope="col">Unweighted GPA</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><input id="semester" readonly></td>
          <td><input id="weightedGpa" readonly value="{{ calculateTotalGPAWeighted() }}"></td>
          <td><input id="unweightedGpa" readonly value="{{ calculateTotalGPAUnWeighted() }}"></td>
        </tr>
      </tbody>
    </table>  
    </div>
    
    <div id="instructionTitle">
      <h4>Please fill out the table below:</h4>
    </div>

    <div>  
    <tr>
    <td><input id="semesterTitle" placeholder="Semester Title"></td>
    <td>
      <select> 
      <option value="">--Please choose a grade format--</option>
      <option value="dog">LETTERS</option>
      <option value="cat">PERCENTAGE</option>
      </select>
    </td>
    </tr>
    
    <div>
    
    <div id="calculator">
      <table>
      
      <thead>
        <tr>
          <th scope="col" >Course Name</th>
          <th scope="col">Grade</th>
          <th scope="col">Credits</th>
          <th scope="col">Course Type</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><input id="courseName" placeholder="Enter course name"></td>
          <td>
            <select class="form-control" [(ngModel)] = "firstGrade" [ngModelOptions]="{standalone: true}" >
              *ngFor="let scale of scales">
              <option *ngFor="let scale of scales" value="{{scale.id}}">{{ scale.letterGrade}}</option>
            </select>
          </td>
          <td><input class="form-control" [(ngModel)] = "firstCredit" [ngModelOptions]="{standalone: true}" id="credit" placeholder="Enter credits"></td>
          <td>
          <select class="form-control" [(ngModel)] = "firstType" [ngModelOptions]="{standalone: true}" >
            <option value="regular">Regular</option>
            <option value="honors">Honors</option>
            <option value="ap">AP</option>
            </select>
          </td>
        </tr>
        
        <tr>
          <td><input id="courseName" placeholder="Enter course name"></td>
          <td>
            <select class="form-control" [(ngModel)] = "secondGrade" [ngModelOptions]="{standalone: true}" >
              *ngFor="let scale of scales">
              <option *ngFor="let scale of scales" value="{{scale.id}}">{{ scale.letterGrade}}</option>
            </select>
          </td>
          <td><input class="form-control" [(ngModel)] = "secondCredit" [ngModelOptions]="{standalone: true}" id="credit" placeholder="Enter credits"></td>
          <td>
          <select class="form-control" [(ngModel)] = "secondType" [ngModelOptions]="{standalone: true}" >
            <option value="regular">Regular</option>
            <option value="honors">Honors</option>
            <option value="ap">AP</option>
            </select>
          </td>
        </tr>
        <tr>
          <td><input id="courseName" placeholder="Enter course name"></td>
          <td>
            <select class="form-control" [(ngModel)] = "thirdGrade" [ngModelOptions]="{standalone: true}" >
              *ngFor="let scale of scales">
              <option *ngFor="let scale of scales" value="{{scale.id}}">{{ scale.letterGrade}}</option>
            </select>
          </td>
          <td><input class="form-control" [(ngModel)] = "thirdCredit" [ngModelOptions]="{standalone: true}" id="credit" placeholder="Enter credits"></td>
          <td>
          <select class="form-control" [(ngModel)] = "thirdType" [ngModelOptions]="{standalone: true}" >
            <option value="regular">Regular</option>
            <option value="honors">Honors</option>
            <option value="ap">AP</option>
            </select>
          </td>
        </tr>
        <tr>
          <td><input id="courseName" placeholder="Enter course name"></td>
          <td>
            <select class="form-control" [(ngModel)] = "fourthGrade" [ngModelOptions]="{standalone: true}" >
              *ngFor="let scale of scales">
              <option *ngFor="let scale of scales" value="{{scale.id}}">{{ scale.letterGrade}}</option>
            </select>
          </td>
          <td><input class="form-control" [(ngModel)] = "fourthCredit" [ngModelOptions]="{standalone: true}" id="credit" placeholder="Enter credits"></td>
          <td>
          <select class="form-control" [(ngModel)] = "fourthType" [ngModelOptions]="{standalone: true}" >
            <option value="regular">Regular</option>
            <option value="honors">Honors</option>
            <option value="ap">AP</option>
            </select>
          </td>
        </tr>
        
       
      </tbody>
      
    </table>
    </div>
    <div>
      <button>
      Add Course
      </button>
    </div>
    
  

    Please the following table to convert letter grades into percentages, also check the letter grade for the different types of courses!

    <div id="calculator">
      <table>
      
      <thead>
        <tr>
          <th scope="col" >Letter Grade</th>
          <th scope="col">Percent Grade</th>
          <th scope="col">Regular</th>
          <th scope="col">Honors</th>
          <th scope="col">AP</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let scale of scales">
          <td>{{scale.letterGrade}}</td>
          <td>{{scale.percentGrade}}</td>
          <td>{{scale.regular}}</td>
          <td>{{scale.honors}}</td>
          <td>{{scale.ap}}</td>
        </tr>
        
       
      </tbody>
      
    </table>
    </div>




